body{
    margin: 0;
    padding: 0;
}

.social-network-icon
{
    width: 2%;      height: 2%;
}

.background-image{
    background-image: url(https://picsum.photos/2800/2500);
    color: azure;

}

.poeme{
    padding: 5% 0;
}

.city-informations{
    font-size: 12px;
}

footer{
    background-color: #62D662;
    width: 100%;    height: 100%;
}

.connection-button{
    margin: 500px 0 0 0;
}
